.container {
  position: relative;
  background-color: #fff;
  width: 840px;
  margin: -40px auto 0;
  padding: 80px;
  border-radius: 8px;
}

@media (max-width: 920px) {
  .container {
    width: calc(100% - 80px);
  }
}

@media (max-width: 640px) {
  .container {
    width: calc(100% - 32px);
    padding: 40px 16px;
  }
}
