.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: hidden;
  padding: 100px 0;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.sub {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  justify-content: center;
}

.sub::before {
  content: '';
  display: block;
  height: 1px;
  width: 20px;
  background-color: var(--color-text-unpainted);
}

.sub::after {
  content: '';
  display: block;
  height: 1px;
  width: 20px;
  background-color: var(--color-text-unpainted);
}

.bgimg {
  position: absolute;
  top: 0;
  right: 0;
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

@media (max-width: 640px) {
  .container {
    padding: 100px 0 60px;
  }

  .title {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }
}
