.button {
  display: block;
  padding: 20px 40px;
  border-radius: var(--border-radius);
  width: 300px;
  background: url('/arrow-right.svg') no-repeat right 20px center,
    var(--color-button-primary);
  color: var(--color-text-unpainted);
}

.button:hover {
  opacity: 0.9;
}

@media (max-width: 640px) {
  .button {
    padding: 16px 24px;
    width: 100%;
  }
}
