.text {
  text-align: center;
  margin-bottom: 40px;
}

.list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 80px;
}

.list:nth-child(even) {
  flex-direction: row-reverse;
}

.image {
  width: 240px;
  height: auto;
  border-radius: var(--border-radius);
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
}

.position {
  margin-bottom: 8px;
}

.profile {
  font-size: 0.9rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--color-border);
  padding-top: 40px;
  text-align: center;
  gap: 24px;
}

.message {
  font-size: 2rem;
  font-weight: bold;
}

.empty {
  margin-bottom: 40px;
}

@media (max-width: 640px) {
  .text {
    text-align: left;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .list:nth-child(even) {
    flex-direction: column;
  }

  .name {
    text-align: center;
  }

  .position {
    text-align: center;
  }
}
